$base1: #0B2545;
$base2: #13315c;
$base3: #134074;
$base4: #8DA9C4;
$base5: #EEF4ED;


/* SCSS HEX */

$mimi-pink: #FFDCE9ff;
$violet-blue-crayola: #6874C2ff;
$jazzberry-jam: #9E0860ff;
$non-photo-blue: #A1E0F8ff;


/* SCSS HEX */
$midnight-blue: #09185dff;
$royal-blue-dark: #07144aff;
$oxford-blue: #050f38ff;


$trypan-blue: #3a0ca3ff;
$vivid-sky-blue: #4cc9f0ff;
$purple: #7209b7ff;
$flickr-pink: #f72585ff;